body{
    background: url("../img/accueil.png") no-repeat center fixed  ;
    background-size: cover;
}

.sortie {
    border:1px solid black;
    box-shadow: 3px 3px 0px grey;
    background-color:#EAF0EF;


}

